
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Capolavori</title>
  </head>
  <style>
    body, html {
      padding: 0;
      margin: 0;
    }
  </style>
    <body>
      <img src="images/cap_01.jpg" style="width: 100%; height: auto; display: block;" alt="">
      <img src="images/cap_02.jpg" style="width: 100%; height: auto; display: block;" alt="">
      <img src="images/cap_03.jpg" style="width: 100%; height: auto; display: block;" alt="">
      <img src="images/cap_04.jpg" style="width: 100%; height: auto; display: block;" alt="">
      
       
    </body>

    </html>